// flex
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.align-self-center {
    align-self: center;
}
