@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  /*這行是為了RWD多加的*/
  max-width: 100%;
  height: auto;
}

/*以上是css reset*/
/*以下是確保盒模型不會破版*/
/* 全域 border box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-68 {
  margin-top: 68px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mx-360 {
  margin-left: 360px;
  margin-right: 360px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pt-64 {
  padding-top: 64px;
}

.pb-56 {
  padding-bottom: 56px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-160 {
  padding-bottom: 160px;
}

.px-360 {
  padding-left: 360px;
  padding-right: 360px;
}

.px-15 {
  padding-left: 15%;
  padding-right: 15%;
}

h1 {
  font-size: 80px;
  line-height: 94px;
  font-weight: 900;
}

h2 {
  font-size: 64px;
  line-height: 75px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.lh-30 {
  line-height: 30px;
}

.lh-42 {
  line-height: 42px;
}

.lh-36 {
  line-height: 36px;
}

.fw-bold {
  font-weight: bold;
}

.fw-900 {
  font-weight: 900;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.container {
  width: 1200px;
}

.text-center {
  text-align: center;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-100 {
  width: 100%;
}

.bg-black {
  background-color: #000000;
}

.text-white {
  color: #ffffff;
}

.border-gray {
  border: 1px solid #707070;
}

header {
  height: 958px;
  background: url(../img/banner.png);
  background-size: cover;
  background-position: center;
}

.text-style {
  vertical-align: middle;
}

.text-style::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #891818;
  margin-right: 16px;
  vertical-align: middle;
}
